@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
nav {
  background-color: #1a83d3;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.logo {
  font-size: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  padding: 4px 6px;
}

ul li a:hover {
  background-color: #3e9be2;
}
ul li a.active {
  background-color: #3e9be2c2;
}

.checkbtn {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
  margin-bottom: 10px;
}
input:disabled,
select:disabled {
  cursor: not-allowed;
}

input:hover,
select:hover {
  border-color: #999;
}

input:focus,
select:focus {
  outline: none;
  border-color: #5b9dd9;
  box-shadow: 0 0 5px rgba(91, 157, 217, 0.5);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); /* Add dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 12px;
  padding-right: 30px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #0069d9;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  padding: 20px 30px;
}

/* Loading Animation */
#loader {
  margin: 20px auto;
  display: none;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #1a83d3;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}
/* Book Cards */
#book-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.book-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.book-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Wishlist Icon */
.wishlist-icon {
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.wishlist-icon:hover {
  font-weight: bold;
}

.wishlist-icon.active {
  color: #ff6347;
  font-weight: bold;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#book-details img {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

#book-details .details {
  text-align: center;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    position: fixed;
    top: 73px;
    right: -100%;
    background-color: #1c82cf;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
}
